[Unit]
Description=Awww Manager
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/Nias/.config/hypr/scripts/awww-manager
Restart=on-failure

[Install]
WantedBy=graphical-session.target

