[Unit]
Description=Automatically mount external disks
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c '[ "$XDG_CURRENT_DESKTOP" = "Hyprland" ]'
ExecStart=/usr/bin/udiskie -s
Restart=on-failure

[Install]
WantedBy=graphical-session.target
