[Unit]
Description=Notify allarming windows
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c '[ "$XDG_CURRENT_DESKTOP" = "Hyprland" ]'
ExecStart=/home/Nias/.config/hypr/scripts/workspace-watcher
Restart=on-failure

[Install]
WantedBy=graphical-session.target
