$font: 'JetBrainsMono NerdFont';
$fallback-font: 'Adwaita Sans';

$black: #161616;
$light-black: #262626;
$white: #f2f4f8;
$darker-white: #dde1e6;
$gray: #393939;
$light-gray: #525252;
$green: #42be65;
$cyan: #82cfff;
$blue: #33b1ff;
$red: #ff7eb6;
$purple: #be95ff;
$yellow: #ffab91;

*{
  font-family: $font, $fallback-font;
  font-size: 11px;
}

menu {
  margin: 2px;
  padding: 4px 2px;
  border-radius: 10px;
  background: #101010;
  color: $white;

  menuitem:hover {
    border-radius: inherit;
    background: $light-black;
  }
}

tooltip {
  background: $black;
  padding: 0.5rem 4px;
  font-size: 14px;
}

#waybar {
  background: $black;
  color: $white;
  margin: 0px;
  min-height: 0;
  border: 2px solid;
  border-color: $light-black;
}

#workspaces {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: $black;
  font-weight: bold;

  button {
    color: $purple;
  }

  button.active {
    color: $cyan;
  }

  button.urgent {
    color: $green
  }

  button:hover{
    border-color: transparent;
  }
}

button {
  background: transparent;
}

#custom-menu,
#custom-music,
#tray,
#clock,
#battery,
#wireplumber,
#network,
#bluetooth,
#custom-power {
  background-color: $black;
  padding: 0.3rem 2px;
  margin: 5px 2px;
}

#network {
  padding-left: 2px;
}

#custom-menu{
  color: $green;
  padding-right: 4px;
}

#clock {
  color: $blue;
}

#battery {
  color: $green;
  padding-left: 3px;

  .charging {
    color: $green;
  }

  .warning:not(.charging) {
    color: $red;
  }
}

#wireplumber {
  color: $red;
  padding-right: 4px;
}

#custom-music {
  color: $purple;
}

#custom-power {
  color: $red;
}
