$font: 'JetBrainsMono NerdFont';
$fallback-font: 'Adwaita Sans';

$black: #050505;
$inactive: #393939;
$active: #42be65;
$active-dim: #0b170f;
$active-dim-light: #2f8648;
$light-black: #262626;
$urgent: #ff7eb6;

$white: #f2f4f8;
$darker-white: #dde1e6;
$light-gray: #525252;
$cyan: #82cfff;
$blue: #33b1ff;
$purple: #be95ff;
$yellow: #ffab91;

*{
  font-family: $font, $fallback-font;
  font-size: 12px;
}

menu {
  margin: 2px;
  padding: 4px 1px;
  border-radius: 10px;
  background: #101010;
  color: $white;

  menuitem:hover {
    border-radius: inherit;
    background: $light-black;
  }
}

tooltip {
  background: $black;
  padding: 0.5rem 4px;
  font-size: 14px;
}

#waybar{
  background: $black;
  color: $white;
}

#workspaces {
  margin: 2px 8px;
  margin-left: 6px;
  padding: 4px 2px;
  font-weight: bold;
  background: $active-dim;
  border: 0px solid transparent;
  border-radius: 15px;

  button {
    all: unset;
    margin: 2px;
    padding: 6px;
    color: $inactive;
  }

  button.active {
    color: $active;
  }

  button.urgent {
    color: $urgent
  }
}

#custom-menu,
#custom-music,
#tray,
#clock,
#battery,
#wireplumber,
#network,
#bluetooth,
#custom-power {
  padding: 0.5rem 1px;
  // border: 1px solid red;
}

#network {
  padding-right: 2px;
  color: $active;
}

#custom-menu{
  color: $active;
  padding-right: 6px;
  margin-top: 4px;
}

#clock {
  color: $active-dim-light;
  padding-left: 3px;
}

#battery {
  color: $active;
  padding-left: 3px;

  .charging {
    color: $active;
  }

  .warning:not(.charging) {
    color: $urgent;
  }
}

#bluetooth {
  color: $active;
}

#wireplumber {
  color: $active;
}

#custom-music {
  color: $active;
}

#custom-power {
  color: $active;
}

#tray {
  padding-left: 3px;
}
