$font: 'JetBrainsMono NerdFont';
$fallback-font: 'Adwaita Sans';

$black: #161616;
$light-black: #262626;
$white: #f2f4f8;
$darker-white: #dde1e6;
$gray: #393939;
$light-gray: #525252;
$green: #42be65;
$cyan: #82cfff;
$blue: #33b1ff;
$red: #ff7eb6;
$purple: #be95ff;
$yellow: #ffab91;

*{
  font-family: $font, $fallback-font;
  font-size: 10px;
}

menu {
  margin: 2px;
  padding: 4px 2px;
  border-radius: 10px;
  background: $black;
  color: $white;

  menuitem:hover {
    border-radius: inherit;
    background: $light-black;
  }
}

tooltip {
  background: $black;
  padding: 0.5rem 4px;
  font-size: 14px;
}

#waybar {
  background: transparent;
  color: $darker-white;
  margin: 2px 2px 0px 2px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: $black;
  margin-left: 3px;
  font-weight: bold;

  button {
    color: $purple;
    border-radius: 5px;
    padding: 0.4rem;
  }

  button.active {
    color: $cyan;
    border-radius: 5px;
  }

  :hover {
    border-color: transparent;
  }
}

button {
  background: transparent;
}

#custom-menu,
#custom-music,
#tray,
#clock,
#battery,
#wireplumber,
#network,
#cpu,
#memory,
#bluetooth,
#custom-power,
#custom-weather,
#custom-docker {
  background-color: $black;
  padding: 0.5rem 1rem;
  margin: 5px 0px;
}

#custom-menu{
  color: $green;
  border-radius: 5px;
  padding-right: 0.8rem;
  margin-left: 12px;
}

#clock {
  color: $blue;
  border-radius: 5px;
}

#custom-weather {
  color: $blue;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;

  .clear {
    color: $yellow; /* Sunny yellow */
  }

  .cloud {
    color: $cyan; /* Light blue */
  }

  .rain {
    color: $blue; /* Blue */
  }

  .snow {
    color: $light-gray; /* White-ish */
  }

  .thunder {
    color: $purple; /* Purple */
  }

  .fog {
    color: $gray; /* Gray */
  }

  .error {
    color: $red; /* Red */
  }
}

#battery {
  color: $green;
  border-radius: 0;

  .charging {
    color: $green;
  }

  .warning:not(.charging) {
    color: $red;
  }
}

#wireplumber {
  color: $red;
  border-radius: 5px 0px 0px 5px;
}

#bluetooth.off, .disabled {
  padding: 0.5rem 0.2rem;
  margin: 5px 0;
}

#custom-docker {
  color: $cyan;

  .docker {
    color: $cyan;
  }

  .docker-none {
    color: $light-gray;
  }

  .docker-error {
    color: $red;
  }
}

#custom-music {
  color: $purple;
  border-radius: 5px;
  margin-right: 4px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: $red;
}
