$font: "JetBrainsMono NerdFont";
$fallback-font: "Adwaita Sans";

$black: #000000;
$light-black: #232323;
$soft: #ffefd3;
$red: #ff7eb6;
$green: #42be65;
$cyan: #82cfff;
$blue: #33b1ff;
$purple: #be95ff;
$yellow: #ffab91;

* {
  font-family: $font, $fallback-font;
  font-size: 12px;
  margin: 0px 4px;
}

menu {
  margin: 2px;
  padding: 4px 1px;
  background: $black;
  border-radius: 12px;
  color: $soft;

  menuitem:hover {
    background: $light-black;
  }
}

tooltip {
  background: $black;
  padding: 0.5rem 4px;
  font-size: 14px;
}

#waybar {
  background: $black;
  color: $soft;
}

#workspaces,
#window {
  font-weight: bold;
  margin: 0px 8px;

  button {
    all: unset;
    color: $soft;
  }

  button.active {
    background: $green;
    color: $black;
  }

  button.urgent {
    background: $red;
    color: $black;
  }
}

#custom-box,
#custom-music,
#tray,
#clock,
#battery,
#wireplumber,
#network,
#bluetooth {
  font-weight: bold;
  margin: 0px 4px;
  padding: 0px 4px;
}

#custom-box {
  padding: 0px 6px;
  background: $blue;
  color: $black;
}

#battery {
  .warning {
    color: $yellow;
  }

  .critical {
    color: $red;
  }

  .full {
    color: $green;
  }
}

#custom-music {
  color: $purple;
}
