[Desktop Entry]
Type=Application
Name=superfile
Comment=Pretty fancy and modern terminal file manager
Icon=/usr/share/icons/Papirus-Dark/16x16/actions/edit-find.svg
Exec=spf "%1"
Terminal=true
Categories=FileManager;Filesystem;ConsoleOnly;
Keywords=spf;file;dir;
