[Desktop Entry]
Name=Toggle Wallpaper Timer
Exec=awww-ctl toggle
Icon=/usr/share/icons/Papirus-Dark/16x16/categories/background.svg
Keywords=wal;wallpaper;
